[2017-09-23 23:32] lisbethchaos opened #3 "Keeps deleting my blocked requesters?"
Hi there! Love the script. I'm running it in Chrome, but I've had the same issue running it in Firefox. I can click on "add requester to blocklist" and it's filtered out, but I'm unable to click on the blocklist. When I reload the script page, sometimes it will show all the requesters I've blocked and sometimes it shows nothing--just shows the main screen, won't let me search, won't let me click o

[2017-09-24 17:20] Anveio commented on #3
Hi @lisbethchaos thanks for submitting this issue (and for submitting the first issue for this project!).

It sounds to me like blocking a requester is causing the application to crash. I'll need more information to pin down exactly what's causing that, though, because I'm unable to reproduce the bug. If you'd like to help me out with this: when Mturk Engine stops working, open the console with Co

[2017-09-24 21:47] lisbethchaos commented on #3
Thanks for getting back to me!

I tried deleting everyone on my blocklist, uninstalling and reinstalling the script, tried the lite version, made sure that all other scripts (IE Ghostery) were disabled. It also won't show my watchers--I can search and click on "add as watcher", but when I try to click over to the watcher tab, one of the attached photos happens.

![screen shot 2017-09-24 at 5 34 11

[2017-09-25 00:56] Anveio commented on #3
I have to admit I'm stumped as to what initially could have caused this. My initial guess is something corrupted the data that Mturk Engine uses to persist your blocklist and watchers through page reloads/installs. But you mentioned that you're having this issue on more than one browser, which makes me unsure if that's really the problem.

If it is, and you're willing to delete all of Mturk Engine

[2017-09-25 12:04] lisbethchaos commented on #3
![screen shot 2017-09-25 at 8 01 26 am](https://user-images.githubusercontent.com/32230734/30807447-dda91f0c-a1c7-11e7-8abf-e6834c826ded.png)

It looks like--knock on wood--that solved it? I'm able to add watchers now and reload the page without issue. Thanks for trouble-shooting for me!

[2017-09-25 17:33] Anveio commented on #3
I'm glad you were able to get the issue fixed. I'll close this issue and chalk this up to random data corruption but if you run into this problem again feel free to open another issue.

[2017-09-25 17:33] #3 closed

[2017-09-26 23:38] CaliGirl28 opened #4 "Can't click on Search, Queue or Watchers"
I was using Mturk Engine for an hour or two this morning with no issues. All of a sudden as I tried to delete a couple of Watchers it locked up and I couldn't click on anything. It hasn't worked for several hours. I've tried refreshing and restarting my computer and I can't get past the "Start Searching" screen. I'm experiencing this issue in the Chrome Browser on a Windows 10 machine.

[2017-09-27 02:21] Anveio commented on #4
Hi @CaliGirl28, thanks for submitting this issue. Another user also reported a similar issue with the Watchers tab causing the application to crash. I'm unable to track down the exact cause of this bug or a satisfactory solution right now but if you want a last resort solution I may have one.

To be clear: **this will reset Mturk Engine to factory settings and delete all of your data (notably your

[2017-09-28 05:11] CaliGirl28 commented on #4
Thanks for your reply. I was able to get it working again but clearing my browsing history. As expected, I lost all of my data but it is working again for me.

[2017-10-12 21:27] gravnash opened #5 "Can only see first 25 hits submitted."
I was excited to see the update, but there seems to be a persistent bug under the HIT Database area.

Tried installing both the normal version and the lite version, on Chrome and on Firefox, uninstalling and reinstalling, disabling and then uninstalling all other Turk-related scripts. But no matter what changes I make, I still only see the first 25 submitted as shown in the attached photos--and as

[2017-10-12 21:42] Anveio commented on #5
Hi @gravnash thanks for posting this issue. I'll look into it tomorrow and hopefully have a fix soon.

[2017-10-13 16:58] Anveio commented on #5
This issue should be fixed in v1.3.1.

Specific commit:
https://github.com/Anveio/mturk-engine/commit/760ff7d9a18b543a31a40b7ceb3fa10bd8c26506

Let me know if you keep having issues after updating. Closing this for now.

[2017-10-13 16:58] #5 closed

[2017-10-19 02:32] CrumpThePenguin opened #6 "Blocked Requesters/HITs resetting upon refresh."
All blocked HITs/Requesters completely reset upon refresh. I'm not sure if this is an issue with MTURK Engine as much as it is a MTURK or browser issue.

[2017-10-19 06:00] Anveio commented on #6
Hi @CrumpThePenguin thanks for submitting this issue. It's most likely an Mturk Engine issue but it's difficult to know for sure because I've had no luck reproducing it. If you'd like to help me with this: when you switch to the Blocklist tab, do any errors show up in the console? (You can open the console with F12.)

I can look into this more tomorrow but I probably won't be able to fix the under

[2017-10-24 18:48] CrumpThePenguin opened #7 "MTURK Engine breaking after short use"
# Issue summary
-  As of today, MTURK engine will occasionally break after a very short period of time. The page will show text from the element I attempted to click (e.g. "Adding to queue") with a small bar under the text. After a few more seconds the page goes completely white, requiring a refresh.

## Expected behavior

-  MTURK engine typically would allow me to use it without breaking. Adding

[2017-10-24 18:53] CrumpThePenguin commented on #7
![image](https://user-images.githubusercontent.com/24972809/31962239-aad5d702-b8c2-11e7-82f0-cbf66ba8c866.png)
Here's a screenshot of the described problem.

[2017-10-28 14:05] weepingangel74 opened #8 "Database not accurate"
# Issue summary
when I refresh the database either the whole thing or for an individual day it is not picking up all the hits. example yesterday I did 181 hits but according to the account page I only did 25 and it is way off for some other days as well. sometimes if I individually update that particular day it will pick up a few more but is still missing quite a lot.
Thanks for submitting an issu

[2017-10-28 14:52] Anveio commented on #8
Hi @weepingangel74 thanks for submitting this issue. This seems very similar to https://github.com/Anveio/mturk-engine/issues/5 but you mention that individually updating a day will pick up a few more. This sounds to me like you may be hitting page request limits. Try stopping all MTurk activity for a few minutes and refreshing the day again and see if that catches all your HITs. Unfortunately I d

[2017-12-05 22:58] MTEngineUser opened #9 "Watchers Tab Error"
# Issue summary

Hi, I discovered this utility a couple of days ago, and I love it, however, the 'Watchers' tab now only shows a blank white page.

I had 4 or 5 watchers setup (1 or 2 actively running), but now when clicking that tab, the entire page goes blank white, forcing me to refresh the page to get the script to come back.

After, refreshing the page, resizing the window, and restarting the

[2017-12-06 00:49] Anveio commented on #9
Hi @MTEngineUser thanks for posting this issue, and I'm sorry to hear that you're running into this bug. A lot of other people have been having this problem and it's been tricky to reproduce but I should have a fix coming in 1.4.0. I believe the problem is caused by watchers writing to your browser's local storage too often and causing it to incompletely stored. So when you refresh the page the da

[2017-12-06 01:32] MTEngineUser commented on #9
Hi, Anveio. Thanks for the response.

I pasted the code into the console as suggested and it brought back the watchers tab! I didn't have too many of them, so adding them back won't be much of a problem.

I will be sure to turn off all of my watchers before closing/refreshing the tab again in the future and I am looking forward to version 1.4.0 whenever it comes out. Until then, cheers!

[2017-12-19 02:04] c2c533c4f237 opened #10 "Not working for new worker site"
# Issue summary

When I go to the https://www.mturk.com/mturk/findhits?mturkengine , I am redirected to a new worker page that the script does not run on, https://worker.mturk.com/projects?ref=w_fr_srch . In addition if I manually change the script to force it to run on https://www.mturk.com/mturk/findhits?mturkengine&doNotRedirect=true , I still get errors "the search returned no results" so it j

[2017-12-20 16:12] Anveio commented on #10
Hi @c2c533c4f237 thanks for submitting this issue. The 1.4.0 update will have full compatibility with the worker site and should be out in a few days.

[2017-12-25 17:59] Anveio commented on #10
Update's out. And the script should now work on https://worker.mturk.com?mturkengine

Closing this issue for now. Feel free to open specific issues for bugs in the new update.

[2017-12-25 17:59] #10 closed

[2017-12-25 17:59] #9 closed

[2017-12-25 21:22] ddrtn365WW opened #11 "Request"
Thank you for creating this.  Could you include the Requester name in the area with the details so it can be copied.  I use it to cross reference my completed hits and am unable to highlight and copy from the main entry.  I know I can copy to clipboard, but that creates a lot of effort to acquire the requester name in my paste.  See sample below:

Requester:  Insert this line

Description: ---

Ti

[2017-12-26 17:10] Anveio commented on #11
Sure that sounds very doable. I wasn't even aware it's not possible to highlight requester's names, thanks for letting me know! I'll include this with the next minor release, which should be within the next few days.

[2017-12-26 17:27] ddrtn365WW commented on #11
Thanks, I appreciate it.

[2017-12-27 16:52] Anveio commented on #11
Added in 1.4.2: https://github.com/Anveio/mturk-engine/releases/tag/1.4.2 although I'd like to get requester names highlightable ASAP.

[2017-12-27 16:52] #11 closed

[2017-12-28 19:06] ddrtn365WW commented on #11
That will help very much, thanks!

[2018-01-04 16:12] HurryKaneK commented on #8
I am experiencing this issue as well, With the new Worker site, This appears to only scan the First Hit Page of a given day.

[2018-01-11 16:31] Omniphantasm opened #12 "Can we get notifications if possible?"
Lately I've had issues with the alert sound not going off which is causing me to miss things I'd normally accept.

Would it be possible to add a chrome notification pop up as an option as well? And if so I have no idea how the notification codes work but can they be made so clicking the notification does a PANDA?

- Mturk Engine version: 1.4.3
- Are you using the Lite version? No
- Browser: Chrome

[2018-01-11 21:48] Anveio commented on #12
I've noticed that problem too. It seems like an issue with the website I'm using to host the audio file. The host I've chosen to use is one of the few I've found that's free and supports https. It wouldn't be fair of me to ask a free service to have better uptime so I'll ask around to see if there are potentially better options.

As for getting Notifications, I was able to get a proof of concept w

[2018-01-11 21:51] Omniphantasm commented on #12
Nice thanks.

For the audio you could also consider an option to select a user preferred sound source be it from url or file on PC.

More customization and adds reliability for the audio cues.

[2018-01-17 17:48] dlj66 opened #13 "Only Displays First 20 HITs on Account Page"
# Issue summary

Only the first twenty HITs are displayed on the Accounts page under the selected date.

## Expected behavior

On 1/16/18 I did 23 HITs. It's only showing 20. I verified the 23 HITs on the MTurk dashboard.

## Actual behavior

I expected it to show all 23 HITs

## Steps to Reproduce the Problem

1. Perform more than 20 HITs through MTurk
2. Go into Account tab
3. Select box with da

[2018-01-17 18:58] Anveio commented on #13
Hi @dlj66 thanks for submitting this issue. I have what I believe to be a fix for this ready but I'll need to find time to do enough HITs in a single day to thoroughly test it. Once I've done that (hopefully in the next few days) I'll update Mturk Engine with the fix.

[2018-01-18 01:26] Omniphantasm opened #14 "Buttons don't update on line changes"
# Issue summary

When the lines shift you've got to move mouse off of a segment and back onto it to expose the add/hide/mark as viewed buttons.

## Expected behavior

When a line shifts the relevant options should still display instead of having to move on and off to see them.

## Actual behavior
Buttons don't appear.

## Steps to Reproduce the Problem

1. Put mouse over "hide" and click
2. Try to

[2018-01-18 18:10] Anveio commented on #14
Hi @Omniphantasm thanks for submitting this issue. I might not be able to fix this as I rely on a component library for search results/queue/blocked hits/submitted hits.

The display of the action buttons is controlled by internal state  [https://github.com/Shopify/polaris/blob/master/src/components/ResourceList/Item.tsx#L197-L204](that's toggled with mouse enter and mouse leave).

That particular

[2018-01-19 12:53] dlj66 opened #15 "HITs assigned to Queue Disappearing"
# Issue summary

After adding HITs to my Queue, I click to the Queue tab and they are not there.

## Expected behavior

That HITs added to the Queue appear in the Queue tab after they are added.

## Actual behavior

From the Search page, I add HITs using the Add button. The green pop-up saying the HIT has been Queued appear. The Queue shows that number of HITs in it. I click over to the Queue page

[2018-01-19 14:54] Anveio commented on #15
Hi @dlj66 thanks for posting this issue. The two most likely reasons this happens are:

1. Mturk Engine currently incorrectly reports a successful accept when you actually have to complete a CAPTCHA. If this happens, accept a HIT via the "Accept" button after expanding a search result, fill out the CAPTCHA, and that will let you accept HITs CAPTCHA free for a good while. This is a high priority bu

[2018-01-19 20:40] Anveio commented on #13
This should be fixed in 1.4.4, specific commit: https://github.com/Anveio/mturk-engine/commit/fbd4a46a6a6d92220962bf147942762effb4422c

Feel free to click the "Reopen Issue" button or post a new issue if the problem still occurs after updating.

[2018-01-19 20:40] #13 closed

[2018-02-01 05:16] awoegno opened #16 "Can you add the block requester feature to the Queue page?"
Thank you so much for this script! It is WAY better than fiddling around with that clunky user UNfriendly Mturk Suite. What a lifesaver!

Is there a way to add the "block" feature to the Queue area? When I come across a bad HIT that I am in the middle of, I can return it from the Queue page, but I also want to block the requester from there too. Currently, you have to go back to the Search page an

[2018-02-01 06:13] awoegno opened #17 "Unable to copy and paste the Requester and HIT names"
One more question:

Some areas of the script do not allow me to highlight the text so it can be copied. On the Search and Queue pages, I would like to be able to highlight the Requester name and the HIT name so I can copy it, but it doesn't highlight. How do I do this?

Thanks!

Specifications

Mturk Engine version: 1.4.4
Are you using the Lite version? Mturk Engine (Lite)
Browser: Chrome

[2018-02-01 06:34] awoegno opened #18 "Unhide the Requester's name"
Last question:

On the Account page, the Requester's name is hidden:

https://postimg.org/image/cw8buho7f/

Each HIT has to be clicked on in order to find the Requester I am looking for. Which is a lot of clicking if you have done a lot of HITS. Are you able to put the Requester's name on the same line as the dollar amount and HIT name?

Also,

Am I able to reorder the completed HITS so I can see

[2018-02-01 06:56] awoegno commented on #17
I think I just got this to work. If I place the mouse slightly above and to the left of what I want to highlight, it will select it. But it selects the whole line instead of just the words I want. If you can  fix this great, but if it is too much work, that is fine. I can just use this little workaround.

[2018-02-01 19:15] Anveio commented on #16
Hi @awoegno, thanks for submitting this feature request. I like this idea. I've been thinking of ways to add features to the queue tab and this makes a lot of sense.

Regarding your first point, I'm glad I was able to make a script that works better for you. I happen to like Mturk Suite, the breadth of features it has is impressive. I do make an effort to be as user friendly as possible, though, t

[2018-02-01 19:18] Anveio commented on #17
This sounds similar to https://github.com/Anveio/mturk-engine/issues/11 . You can copy the requester name after expanding a search result but that and all the other work arounds are obviously not ideal. The company that produces the fantastic component library I'm using for displaying search results, queue items, and submitted HITs is releasing a major overhaul to that particular component soon so

[2018-02-01 19:21] Anveio commented on #18
This is actually in the 1.5.0 update https://github.com/Anveio/mturk-engine/releases/tag/1.5.0 . Requester names are now visible at a glance on the right. Their names are still provided for highlighting purposes after expanding a HIT.

Reordering HITs is a little more complicated but for the next update I'm focusing on building a way to search for specific HITs in your database, so that feature wi

[2018-02-01 19:24] Anveio commented on #4
Doing some spring cleaning. I'm assuming this was caused by watcher's not being read from browser storage properly, causing the crash. This was fixed in 1.3.0, I believe, so I'm closing this for now. If the issue shows up again, feel free to post a new issue and I'll look at it.

[2018-02-01 19:24] #4 closed

[2018-02-01 19:24] Anveio commented on #6
Doing some spring cleaning. I'm assuming this was caused by watcher's not being read from browser storage properly, causing the crash. This was fixed in 1.3.0, I believe, so I'm closing this for now. If the issue shows up again, feel free to post a new issue and I'll look at it.

[2018-02-01 19:24] #6 closed

[2018-02-01 19:24] Anveio commented on #7
Doing some spring cleaning. I'm assuming this was caused by watcher's not being read from browser storage properly, causing the crash. This was fixed in 1.3.0, I believe, so I'm closing this for now. If the issue shows up again, feel free to post a new issue and I'll look at it.

[2018-02-01 19:24] #7 closed

[2018-02-02 23:48] Anveio commented on #12
Notifications landed in 1.5.0. There were a few challenges around making them not spammy but hopefully the feature's good enough for now. If you have ideas for specific changes you'd like to see for notifications feel free to open another issue.

[2018-02-02 23:48] #12 closed

[2018-02-19 15:09] MTurkBomb opened #19 "Not a problem but suggestion"
Hello,
I started using your MTurk Engine a week ago and I love it!  Thank you for your hard work :)
I really just had one suggestion but not sure if this is the place to do this so If it isn't I'm sorry but still a bit new to all this.
I installed your newest version on my Chromebook through Tampermonkey and it works flawlessly but I wanted to find out if there is a way to change the mouse over bu

[2018-02-19 20:43] Anveio commented on #19
Hi @MTurkBomb thanks for posting this suggestion. Making the Hide/Work buttons visible without mousing over a search result would mean the batch size and reward would have to be displayed somewhere else. And I can't think of a solution right now for that that wouldn't either clutter each search result too much or make each search result too large. I agree that there's a lot of room for improvement

[2018-02-19 20:57] MTurkBomb commented on #19
Hello!

Thank you for answering my question!  I think my problem is I set my
refresh timer to short (2 seconds) and that is why I am having problems
collecting the hits.  It seems like as soon as they show up they are gone
from the page, is this due to my short refresh time or is it because
someone has already snagged "MY" hit?lol.
Really though, I love the lay out of your work and have been using

[2018-02-19 21:11] Anveio commented on #19
Hmm, if the problem is collecting new HITs as they're posted you might have some luck enabling desktop notifications for new HITs from the settings tab. That way you're free to do other things while waiting for new work to be posted and you save a few seconds alt tabbing or changing browser tabs and finding the right HIT to accept.

Glad to hear it's working well for you and thanks again for the k

[2018-02-27 21:32] balder85 opened #20 "Issue updating "Tracker Overview" after the last update"
# Issue summary

Hi there, after the latest update that I installed just today, I'm unable to update the "Tracker Overview" overview
## Expected behavior

Today after your last push-update

## Actual behavior

The sync option seems to be brocken

## Steps to Reproduce the Problem

1. 2. 3.

## Specifications

* Mturk Engine version: latest update Mturk Suite v2.1.13
* Browser: Chrome 64x

[2018-02-27 22:42] Anveio commented on #20
Hi @balder85 thanks for posting this issue. I'm a little confused, though, by what you mean. There's no "Tracker Overview" in Mturk Engine and I haven't released an update today.

It seems you meant to post an issue for Mturk Suite, which is a separate project that I'm not involved with. You can find the issues page for Mturk Suite here: https://github.com/Kadauchi/mturk-suite/issues

[2018-02-27 22:42] #20 closed

[2018-02-27 23:04] balder85 commented on #20
Thank you for reaching me, what I mean is when I try to sync option, data doesn't seems to be update, I tried to reinstall the extention, but en vain, and even worse, I couldn't even import my backup dbase. Here is a screenshoot of what's look like :
https://imgur.com/a/hlqfE

Thank you in advance!

[2018-02-27 23:05] balder85 commented on #20
@Anveio
Thank you for reaching me, what I mean is when I try to sync option, data doesn't seems to be update, I tried to reinstall the extention, but en vain, and even worse, I couldn't even import my backup dbase. Here is a screenshoot of what's look like :
https://imgur.com/a/hlqfE

Thank you in advance!

[2018-03-08 14:13] Omniphantasm opened #21 "Issues with sound after recent update."
After the recent update I've noticed that I rarely get the dings anymore. Which I could live with but it seems like when the dings break the notifications also stop popping up in the corner as well.

Also when I do get the dings it seems like they're a different ding that is much quieter and *much* harder to hear over other noises for instance Netflix or my games.

Suggestion: At this point if pos

[2018-03-08 15:08] Anveio commented on #21
Thanks for posting this issue @Omniphantasm. I think this has something to do with the "Hide requesters with no Turkopticon score" option. See if temporarily disabling that resolves the issue of audio not playing while I work on a fix.

The new ding is quieter than the old one but maybe a higher volume setting can solve that problem for you. The new ding is hopefully a lot more tolerable at higher

[2018-03-08 15:11] Omniphantasm commented on #21
I’ve never used the hide requesters option but I checked and it was still off so doesn’t seem to be that.

As for the volume I’ve got both chrome maxed out on windows and the ding volume slider maxed out. It’s still getting overpowered by other audio I’ve got going on which sucks but I’ll likely learn to deal with it until there’s a better option.

From: Shovon Hasan
Sent: Thursday, March 8, 2018

[2018-03-09 02:06] wapem commented on #21
I concur .. the new dings is way to quiet ! i can barely hear it with headphones on with no other sound in background at maximum volume, imagine if watching a movie or watching youtube etc .. put the old sound back ! seriously ! who think the old sound is too loud they can lower their volume .. this new sound is pathetic !

[2018-03-09 03:14] Anveio commented on #21
Thanks for the feedback @wapem and @Omniphantasm I've released a small update that significantly increases the volume of both the new search result audio and successful watcher accept audio. See if it works for you after updating.

I don't think it's a good idea to revert to the old 'coins' sound because I received feedback that it became very unpleasant past 50% volume.

[2018-03-09 04:08] Omniphantasm commented on #21
Thanks much!

[2018-03-09 14:13] wapem commented on #21
@Anveio Still not enough , the sound is still too soft , please find a proper sound or else this script will become obsolete and that would be a shame because is the best script as of now.

[2018-03-09 14:42] Anveio commented on #21
Sorry @wapem but I'm not comfortable making the current sound any louder, nor do I think reverting to the old sound is a good idea. If you have suggestions for other sounds to use I'm open to hearing them.

Alternatively, because Mturk Engine is open source, you can follow the steps in the [developer readme](https://github.com/Anveio/mturk-engine/blob/master/src/constants/audio.ts) to create your

[2018-03-09 20:51] wapem commented on #21
@Anveio  yes i will try add my own sound , but the real problem is the sound not playing at all when having  tasks, desktop notifications are dead also , everything was working fine until the 1.6 version , now is just hit and miss , sometimes works most of the times doesn't. Any fix for that ?

[2018-03-09 21:18] Anveio commented on #21
@wapem I'm not able to reproduce the bug of desktop notifications intermittently working. If you'd like to help me out, create a new issue with steps to reproduce it.

I'm locking this conversation for now. I'll update when I have a fix for the audio issue.

[2018-03-10 17:18] aesha-CORUS opened #22 "Suggestion: Add the HIT ID and Requestor Name+ID to the watcher"
# Issue summary

Please Add the HIT ID and Requestor Name+ID to the watcher

[2018-03-12 12:39] Anveio commented on #21
I've released a small patch (1.6.2) that hopefully fixes this problem. Update the script and let me know if you still run in to the issue. I'll close the issue for now but I'll re-open it if the update hasn't fully resolved it.

This turned out to be an interesting bug to track down. An under-the-hood change I made in 1.6.0 was to move the audio and notification layer components into the search ta

[2018-03-12 12:39] #21 closed

[2018-03-12 13:15] Anveio commented on #22
Thanks for posting this suggestion @aesha-CORUS. You can get the HIT ID from the "Copy ID" button on each watcher. Would you rather it be visible at all times? I like the idea to have requester names and IDs available on each watcher but I'm not sure about adding another card to the watcher UI. I might make the "Add as Watcher" button add the requester name and ID to the description by default.

[2018-03-12 13:32] aesha-CORUS commented on #22
It would be very nice to have the requester name visible, with the "Copy
ID"  link next to it to make it more visible. I totally missed it! Sorry
about that :(

That would just be adding text, much as you described, by passing it from
the "Add as Watcher" button.

One other question for you. How deep does the search go? Hit tracker from
the Mturk suite has a max of 100 before it breaks and returns

[2018-03-12 15:43] Anveio commented on #22
I think I'll add that functionality to the Add as Watcher button then.

Mturk Engine requests 100 results, which is the maximum, by default. I chose not to have that be a configurable option early on because displaying a large number of results shouldn't present a performance problem (hopefully) and attempting to request more can break things, which can be confusing, especially for people who aren

[2018-03-12 17:56] aesha-CORUS commented on #22
Gotcha, thanks for the info, and the upcoming update!

On Mon, Mar 12, 2018 at 10:43 AM, Shovon Hasan <notifications@github.com>
wrote:

[2018-03-18 19:24] kimadagem opened #23 "Suggestions for blocklist"
I've watched the instruction GIF & tried it myself but I don't see a way to block a requester, just individual hits. It would really help me to have the search feature avoid all hits from a particular requester. Also, if you can do that I would like a way to import my own blocklist into it. Right now it exists in Hit Scraper but I also have it saved in a spreadsheet, so I can format it in differen

[2018-03-19 11:28] Anveio commented on #23
Thanks for these suggestions @kimadagem. To block a requester, click on any search result to expand it (just like on the Worker Mturk website), and you should see a "Block Requester" button in red. Click that in order to block a requester.

All blocks are done by group ID (for HITs) and requester ID (for requesters). You don't have to worry about a large blocklist slowing search in Mturk Engine.

[2018-03-23 09:08] aesha-CORUS opened #24 "Unblock?"
Also, in Settings, the ability to turn OFF/ON the block-list would be really handy for those times I want to re-enable them to see if their TO has changed.

Also.. my block-list seems really short. Does it auto prune or something?

[2018-03-23 20:23] Anveio commented on #24
Thanks for posting this suggestion @aesha-CORUS. I like the idea of a way to toggle the blocklist. That sounds very doable. The block-list shows the last 20 blocked requesters and last 20 blocked HITs but entries in your blocklists past that are still being blocked. I have some ideas of making the lists easier to navigate, but it's still in its early stages.

[2018-03-24 11:49] aesha-CORUS commented on #24
Awesome!

I didnt realize till recently that I could not clear/manipulate my block
list like I normally do every 6 months.

Looking forward to it :)

On Fri, Mar 23, 2018 at 3:23 PM, Shovon Hasan <notifications@github.com>
wrote:

[2018-04-05 01:28] neocryptek opened #25 "Feature Request: Search/Sort by Time Allotted"
# Issue summary

It would be nice to be able to search/filter/sort by the "Time allotted" field in the search tab.

## Expected behavior

In search settings: allow a minimum and maximum "Time allotted" to be entered to influence results shown (I realize this probably needs to be a client-side filter since probably no advanced search API?).

In search results: add another "sorted by" option for "Ti

[2018-04-05 13:41] Anveio commented on #25
Hi @neocryptek thanks for this suggestion. This sounds very doable but I'd like to know more about the underlying problem that sorting by time allotted/filtering HITs below a certain time allotted solves. Is it a roundabout way to filter out non-surveys (since they generally allot more time)?

[2018-04-05 14:41] Anveio commented on #25
Hmm, it would be useful to filter out abusive HITs like those but I'm worried using time allotted as the sole metric to filter them out would result in too many false positives. For example, some workers find the Amazon HITs that involve a single yes/no prompt to be lucrative despite only allotting a few minutes.

[2018-04-05 17:53] aesha-CORUS commented on #25
Oh, I didnt mean to filter them out, just to make this an option so we know
in advance before accepting (I like to go through the list and accept upto
4 at a time) that its a short duration. Rather than a sort option, maybe
just a "short duration" flag in the list?

On Thu, Apr 5, 2018 at 9:41 AM, Shovon Hasan <notifications@github.com>
wrote:

[2018-04-05 21:56] neocryptek opened #26 "Feature Request: Audio Sounds/Notifications Only For Queue Changes"
# Issue summary

It would be nice if there was a setting to enable audio/notifications only for Queue changes by watchers (ex: not for search changes). The current settings seem to be all or nothing master switch?

## Expected behavior

I would like to have audio sound and/or notification only when a watcher adds something to my Queue. I don't want audio/notification when search results change. Th

[2018-04-05 22:06] neocryptek commented on #22
You could add another link next to "Copy ID" for copying the requester ID (ex: two links: "Copy HID", "Copy RID" etc). That way it's not cluttering up the UI too much (ex: another card or always visible in description).

[2018-04-06 11:47] Anveio commented on #26
Thanks for this suggestion @neocryptek. If I'm understanding you correctly, since the only other source of audio is from new search results, you want a way to toggle off just the audio that plays when a new search result is found? If so, I like that idea a lot and I'll try to ship it in 1.7.0.

[2018-04-06 11:57] Anveio commented on #25
I try to keep only essential options to keep the UI from becoming too confusing (which is the reason "Masters only" isn't a search option) but I do like the idea of adding more ways to filter results. I think I'll implement them if I can find a way to make it very clear which filters are active to prevent workers from missing HITs they otherwise might have liked to do.

[2018-04-10 19:38] neocryptek commented on #26
Yeah; sounds good! Thanks!

[2018-04-17 12:29] princeJoelMathew opened #27 "HIT Searching stopped automatically & Getting error Your search returned no results. Make sure you're logged in and check your search settings."
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2018-04-17 16:42] Anveio commented on #27
Thanks for posting this issue @princeJoelMathew but I'm not sure exactly what the issue is. If your search is returning no results make sure your search settings aren't something that would return 0 results (for example a minimum reward of $100). If you mean you don't like that continuous searching stops automatically after a search that returns 0 results, I agree with you and it'll be removed in

[2018-04-18 06:44] princeJoelMathew commented on #27
Thanks Anveio..

[2018-04-18 06:44] #27 closed

[2018-04-22 05:52] neocryptek opened #28 "Thoughts on Timers vs Managed Cycles?"
# Issue summary

What are your thoughts on watchers being simple timers vs using a shared request pool to throttle amount of requests to MTurk server?

Does MTurk Engine recognize 429 HTTP codes and do any sort of backoff?

## Expected behavior

Perhaps throttle outgoing watchers to a shared limit, so the current timer setting is a maximum speed rather than actual speed (or a sort of priority)? Bo

[2018-04-23 18:30] Anveio commented on #28
Thanks for posting this issue @neocryptek. It's possible but I'm not sure if an automated system that launches multiple watchers one after the other would significantly reduce PREs. The current system allows for a good amount of clarity and simplicity with how often you can expect a watcher to be sending requests but I agree that letting the user know when a watcher causes a 429 is necessary infor

[2018-04-29 14:39] princeJoelMathew opened #29 "Searching HIT not working properly past few days"
# Issue summary

Past few days I am facing issues that Searching HIT is not working properly & Need your support for below issues.

1.  Need your support to search the HIT immediate. Even I selected Time Between Searches 1 Min.
Most of HIT is missing but the same time missing HITs are captured in MTurk Suite(HIT Finder).

2.  Enable desktop notifications is not working properly. HIT is notify some

[2018-04-29 15:12] Anveio commented on #29
Hi @princeJoelMathew. If the problem is too many HITs are being hidden, I'd recommend double checking your Turkopticon settings.

I'm not sure what could be causing notifications to only be sent sometimes. Make sure the minimum notification reward amount isn't set too high and that the page has permission to send you notifications (you can check with the 'Request permission' button). If that doesn

[2018-04-29 20:57] neocryptek opened #30 "Feature Request: Wage Tracking"
# Issue summary

It would be nice if MTurk Engine could use its database of HITs + pay and some timing information to calculate hourly wage.

## Expected behavior

When clicking on a day in the Account tab's database, it should show average hourly wage for that day based on $ amount received, and time worked that day. I don't know if Amazon provides how long a HIT took in its API, else probably ne

[2018-04-30 05:59] princeJoelMathew commented on #29
Thanks for your instruction..

1.  I am disable the Turkopticon setting & Also set the zero value of  Turkopticon attribute score weights.
2. I agreed your point but I am getting less notification alert after mentioning value of reward amount is $1
3. We are waiting to expect your next mturk engine updated version. When you will release next version ?

With Regards
S.Prince
![snap 2018-04-30 at 11

[2018-05-04 10:54] Anveio commented on #29
I was unable to reproduce this issue @princeJoelMathew. If the issue persists in the new update feel free to open another issue with steps to help me track down this bug.

[2018-05-04 10:54] #29 closed

[2018-05-04 10:56] Anveio commented on #26
Muting the search tab landed in v1.7.0. If I add a feature to dispatch desktop notifications from somewhere other than the search tab I'll consider a way to disable notifications from search tab specifically as well.

Feel free to open a separate issue if you find a bug.

[2018-05-04 10:56] #26 closed

[2018-05-04 10:57] Anveio commented on #23
Deleting multiple entries from blocklists landed in v1.7.0. I'll continue to improve it further as I brainstorm ideas to make browsing very large blocklists feasible.

Feel free to open another issue if you run into a bug with this feature.

[2018-05-04 10:57] #23 closed

[2018-05-04 10:58] Anveio commented on #22
This feature landed in v1.7.0. Feel free to open another issue if you run into a bug or if you have ideas to improve it further.

[2018-05-04 10:58] #22 closed

[2018-05-04 10:59] Anveio commented on #16
This feature landed in v1.7.0. Feel free to open a separate issue if you run into a bug with it.

[2018-05-04 10:59] #16 closed

[2018-05-04 11:01] Anveio commented on #17
v1.7.0 removed the requester name from the collapsible section of a search result, but the button now has a first class way of copying parts of the requester's information.

![image](https://user-images.githubusercontent.com/8881711/39624885-f7acf19a-4f68-11e8-8a7d-1f63350a3994.png)

Feel free to open another issue if you have ideas to improve this feature further.

[2018-05-04 11:01] #17 closed

[2018-05-04 12:37] princeJoelMathew commented on #29
Ok Thanks Anveio..

[2018-05-04 13:00] princeJoelMathew opened #31 "Getting Error msg immediate after starting watcher"
![snap 2018-05-04 at 18 32 34](https://user-images.githubusercontent.com/35998240/39629376-9eb1ebfc-4fc9-11e8-8e6a-ec5aae1a9e2a.jpg)
Hi, I am getting Error msg immediate after starting watcher

" in 1:45-2 hours" has sent too many requests to MTurk and has been automatically stopped."

Hope I am facing issues after updating the mturk engine. Please do the needful.

## Specifications

* Mturk Engin

[2018-05-04 17:29] princeJoelMathew commented on #31
Hope old version is better for me 1.6.2.. So please share me How to degrade the version from 1.7.0 to 1.6.2?

Unable to catch the Hit through desktop notifications but earlier It got easily max hit which showing desktop notification ...

Please do the needful

[2018-05-05 14:42] aesha-CORUS opened #32 "Add search to account page"
# Issue summary

On the account page, I would like to be able to search by requester name/ID/Hit name.
The ability to add a bonus (whose amount you dont know until its paid) would be enhanced by this.

[2018-05-05 15:03] aesha-CORUS opened #33 "Add contact requester to Accounts page"
Add contact requester to Accounts page

This would be useful for contacting a requester when a HIT is pending for an excessive amount of time (especially since we can no longer see AA dates), and also when a HIT gets rejected, or even when a bonus comes through that offers to answer questions.

I had a contact from a requester yesterday, that came through mturk, but did not give a proper reply add

[2018-05-05 15:04] aesha-CORUS commented on #30
Clock in/out sounds good.. since I often queue up multiple HITs which would skew results.

[2018-05-05 15:11] aesha-CORUS opened #34 "Ability to copy HIT name"
**Ability to copy HIT name (Search/Queue/and especially Account)**

Add a button like the others to copy this?  That might work until/if the API updates)

I actually had to use the Markdown, put it in notepad, and grab it from there. Even that doesnt work when I have already hidden the HIT. Having to unblock/copy/[aste to notepad/reblock in a nuisance.

All to get the HIT name for an email request

[2018-05-05 16:35] aesha-CORUS opened #35 "From QUEUE page, attempts to contact requester fail on Submit."
# Issue summary

From QUEUE page, attempts to contact requester fail on Submit. (havent tested the other pages since your recent update)

Malformed message
Your message subject or body is missing or exceeds the maximum length. Please revise and try submitting your message again.

## Expected behavior

Well.. it should say the request was successful, and send me to Mturks HIT page.

## Actual behav

[2018-05-05 17:01] aesha-CORUS commented on #35
Some additional info. Here are the two URLs generated by Mturk, and Mturk Engine, for the same requester and HIT and the QUEUE:

**Yours:**
https://worker.mturk.com/contact_requester/assignment_messages/new?assignment_id=3E1QT0TDFP9GLW3VZML6OS6G066I8T&hit_type_message%5Bhit_description%5D=Investigate%20what%20is%20happening%20in%20the%20video%20from%20the%20beginning%20to%20the%20end%2C%20ear%20up

[2018-05-05 18:17] mikmik111 opened #36 "2-3 second lag while performing actions since 1.7"
# Issue summary

Since 1.7 there is a noticeable lag when I perform some actions like clicking the tabs at the top (i.e. Queue, Watchers, etc.), and adding some hits to the queue.

## Expected behavior

Clicking through the different tabs at the top like Queue, Watchers, Search should be instantaneous and some other buttons should respond instantly.

## Actual behavior

I'm getting a noticeable 2-

[2018-05-06 11:51] Anveio commented on #31
This is actually intended behavior if a watcher runs into a 429 response from Mturk, which is caused when you've made too many requests (usually because too many watchers are running or because a watcher has too low of a delay).

If you think this is being caused because of something else, feel free to reopen this issue.

[2018-05-06 11:51] #31 closed

[2018-05-06 11:53] Anveio commented on #32
Thanks for this suggestion @aesha-CORUS, this is something I'm working on for the next major version.

[2018-05-06 11:53] Anveio commented on #33
This actually already exists. If you hover over an entry in your HIT database on the right you'll see two buttons, one of which is a "Contact" button.

[2018-05-06 11:53] #33 closed

[2018-05-06 11:55] Anveio commented on #34
Thanks for the suggestion @aesha-CORUS. I should be able to fit this into the next minor version, which I'll release within the next few days.

[2018-05-06 11:56] Anveio commented on #36
Thanks for posting this issue @mikmik111, I just released an update that hopefully fixes this performance issue. Let me know if you're still experiencing this bug.

[2018-05-06 15:04] mikmik111 commented on #36
Hi! Thanks for that quick update. I was able to update to the latest one, 1.7.1, and initially there were no improvements to the performance. I went ahead and did a backup, had a clear data with Opera and restarting seems to have solved the issue. I decided to clear my blocklist, I had more than 3500 in there, and that seems to have solved the performance issue for me. Prior to 1.7, having a large

[2018-05-06 19:01] aesha-CORUS commented on #34
Thanks!

On Sun, May 6, 2018 at 6:55 AM, Shovon Hasan <notifications@github.com>
wrote:

[2018-05-06 19:03] aesha-CORUS commented on #33
Doh! It comes up as a hover over.. no wonder I didnt see it.

[2018-05-06 19:10] aesha-CORUS commented on #8
377 HITs submitted.

Scanned all on the first try.
I am not having this issue at all.
Latest chrome version.

So did you fix this issue?

[2018-05-06 19:25] aesha-CORUS opened #37 "Suggestion - Ability to easily move watchers between folders"
**Ability to easily move watchers between folders**

WATCH LIST
Maybe a move button that gives you a folder dropdown list?

I run into HIT that I have in my watcher that I want to save, but not all the info I need to manually copy it to another folder is visible, nor is the option to manually create a new watcher available (another thing I would like), so a move option would be very handy!

[2018-05-07 17:12] Anveio commented on #37
If I'm understanding you correctly, this feature actually exists. Under the settings section of any watcher, there should be a drop down under "Assigned folder" which has a list of all your folders. Select any of them to move the watcher to another folder.

Feel free to reopen this issue if that's not what you meant.

[2018-05-07 17:12] #37 closed

[2018-05-07 17:19] Anveio commented on #34
This just landed in 1.7.2 https://github.com/Anveio/mturk-engine/releases/tag/v1.7.2

[2018-05-07 17:19] #34 closed

[2018-05-07 17:29] macheesmocat opened #38 "Can only set 2-3 Watchers at a time at no less than 5 seconds each"
# Issue summary

Watchers:
I can only run 2 watchers at a time with a 3-5 second setting before I get a pop up error message:

**Watcher titled "Social and Political Psychological Attitudes(~ 20 minutes)" has sent too many requests to MTurk and has been automatically stopped."**

## Expected behavior

I have not had any problem setting up to 20 watchers at 1 second attempts prior to Saturday May 5

[2018-05-08 20:09] georgederr opened #39 "A better finder/searcher more like hit_forker"
It's not an issue just suggestion. Is it possible to get a searcher like hit forker that keeps a log of the hits it finds?  It's hard to grab hits with an update rate less than 10. If so, this would be the best option out there.

[2018-05-08 20:25] Omniphantasm opened #40 "Feature request"
Any chance of sometime in the future getting an option to add filters that let us filter out tasks that have words/phrases of our choice in them?

For instance I got some requesters that I like doing hits for but they often put up a ton of hits that I'm not eligible for and I could easily filter those out if I could just create a list of keywords that would automatically hide the task from showing

[2018-05-10 13:51] Anveio commented on #38
This seems similar to https://github.com/Anveio/mturk-engine/issues/31. If you've made too many requests to MTurk within a short amount of time, MTurk will temporarily block you from making more requests. The 1.7.0 update changed watchers to automatically cancel themselves when MTurk does this.

I agree that it seems like unexpected behavior, especially when this was happening prior to 1.7.0, albe

[2018-05-10 13:51] #38 closed

[2018-05-10 13:54] Anveio commented on #39
Thanks for this suggestion @georgederr, I like this idea but since it'll be a big undertaking, it's not likely to come out until at least the next major version.

[2018-05-10 13:58] Anveio commented on #40
Thanks for this suggestion @Omniphantasm. This seems possible but the challenge is making it so users don't inadvertently hide a HIT (or many HITs) that they would have otherise liked to do. I might be able to ship it within a few major versions but in the mean time, I'll try to make blocking single unwanted HITs as simple as possible.

[2018-05-12 22:02] neocryptek commented on #30
Probably won't be perfect, but I see other scripts using page load + submit button tracking. This way even if you add a bunch to your queue, it only counts the one you're actively working on (assuming you don't open multiple tabs at once).

Basically on load of the HIT page they add a start entry to a shared database, then on submit they add another stop entry. Match the two up and compare their t

[2018-05-17 15:49] MTurkBomb opened #41 "Block from Queue?"
Hello,

This is not a problem but a suggestion.  Would there be anyway to have a "block" button in hits that have gone into our queue?
Sometimes collecting hits doesn't give enough time to check out their TO rating and once it is in the queue you find out you want nothing to do with that requester.
Trying to wait for them to pop up again or in some cases they pop up over and over in a split second

[2018-05-17 22:34] balder85 commented on #36
The problem is still persisting without any improvement hope you'll fix the issue soon

[2018-05-19 14:55] Anveio commented on #41
Thanks for this suggestion @MTurkBomb, you can block requesters from your queue as of 1.7.0. Click to expand any item in your queue and the button should be there. If you mean blocking the HIT's project ID like the "Hide" button does for search results, I think that's a good idea but it won't be intuitive to have it alongside the "Work" and "Return" buttons for items in your queue. I might be able

[2018-05-25 09:38] Anveio commented on #14
This issue should be fixed as of 1.8.0. Feel free to re-open this issue if it persists after updating.

[2018-05-25 09:38] #14 closed

[2018-05-25 09:39] Anveio commented on #18
The database search feature added in the 1.8.0 update allows you to reorder your HITs. Feel free to open another issue if you have further suggestions.

[2018-05-25 09:39] #18 closed

[2018-05-25 09:41] Anveio commented on #32
This feature was added in the 1.8.0 update. Feel free to open another issue if you have further suggestions.

[2018-05-25 09:41] #32 closed

[2018-05-25 09:42] Anveio commented on #36
This fix just shipped with 1.8.0. Feel free to reopen this issue if it persists after updating.

[2018-05-25 09:42] #36 closed

[2018-05-25 09:43] Anveio commented on #35
This fix just shipped with 1.8.0. Feel free to reopen this issue if it persists after updating.

[2018-05-25 09:43] #35 closed

[2018-06-01 00:33] maxrom opened #42 "Feature request to import from MTurk Suite"
Would it be possible to add a feature to import from the (Chrome) Mturk Suite extension? It exports a JSON file but Mturk Engine won't import it as it would its own JSON backup.

[2018-06-07 15:50] Anveio commented on #42
Thanks for this suggestion @maxrom, I think I could build a feature like this without too much hassle but I'd have to do more research into how Mturk Suite  exports its HIT Database to see if it'll be possible.

[2018-06-19 20:43] jugheadeatsalot opened #43 "Default watcher settings"
Great job on this. The ability to change the default settings for watchers would be helpful.

[2018-06-21 14:32] dlj66 opened #44 "Queue Page - HIT Times Not Working"
# Issue summary

The remaining times for HITs on the Queue page are not working.

## Expected behavior

Previously, if you were on the Queue page, the HITs in your queue would show how much time was left and would "countdown" in real time.

## Actual behavior

Now, the times are "frozen" and don't show currently how much time is left unless you manually refresh the queue.

## Steps to Reproduce th

[2018-06-21 15:20] Anveio commented on #44
Thanks for posting this issue @dlj66 , I'll have a bugfix up soon.

Looks like I left behind an unnecessary getDerivedStateFromProps function when upgrading to React 16.4.1. https://github.com/Anveio/mturk-engine/blob/master/src/components/QueueCard/QueueTimer.tsx#L23-L27

[2018-06-21 15:56] Anveio commented on #44
Should be fixed as of 1.8.3 https://github.com/Anveio/mturk-engine/releases/tag/v1.8.3 also found another easy performance win in there.

[2018-06-21 15:56] #44 closed

[2018-06-21 17:11] dlj66 commented on #44
Awesome. I will download the update. Thanks.

Keep up the great work! MTurk Engine is awesome!

On Thu, Jun 21, 2018 at 11:56 AM Shovon Hasan <notifications@github.com>
wrote:

[2018-06-21 18:08] TheGoddessInari opened #45 "Submitting to HWTF needs updating"
# Issue summary
Reddit now goes to old or new styles, and the current behavior is causing an internal server error.

## Expected behavior

When you click 'post to HWTF', it should correctly go to reddit, and preferably pre-fill the preview link and/or requester link. This could be an option.

## Actual behavior
Clicking 'post to HWTF' consistently causes an internal server error.
## Steps to Repro

[2018-06-21 18:17] Anveio commented on #45
Thanks for posting this issue @TheGoddessInari. Since reddit's redesign is still in beta, and because the "submit a post" button on the new site isn't using a named `input` HTML element, it'll be difficult/impossible to support the new site's submit page unless something changes. In the short term, fortunately the Post to HWTF link seems to still work for `old.reddit.com`. I can change the link to

[2018-06-26 15:43] aesha-CORUS opened #46 "Feature Request: Has bonus to Account Search"
Its nice having "Add bonus" but often I want to go back and search the requesters who gave me a bonus so I can grab the names and search to see if they have any more.

So requested behavior: Has bonus + ability to set a minimum amount of bonus to search

Then when found, maybe add to Watchers by Requester ID, or name?

[2018-06-26 15:51] aesha-CORUS opened #47 "Feature Request: Make HitID searchable on Account page"
Basically, I do many if not hundreds of HITs for the same requester, so searching by requester ID, or even HIT name, is of no use. I end up having to expand every HIT just to find the right one for the ADD BONUS.

I am not sure this is actually a HIT ID, but as an example I get the following in Email:
You've received a bonus from Vito D'Orazio for work related to 3IH9TRB0FB5K1D8IS30AH5ANU041I5.

W

[2018-06-26 15:53] aesha-CORUS commented on #47
I just confirmed, it is the HIT ID showing up in the Email

[2018-06-26 18:05] Anveio commented on #46
Thanks for the suggestions @aesha-CORUS, a filter for HITS with at least a custom bonus seems very doable. I don't have watchers for entire requesters yet but that's something I'm working on for one of the next major updates.

[2018-06-26 18:06] Anveio commented on #47
If I'm understanding you correctly, this feature should already exist. Here's the code that powers searching through your HIT database: https://github.com/Anveio/mturk-engine/blob/5c4535f53749f7305e4aa134dcb949a2848f26c5/src/utils/databaseFilter.ts#L100-L107

The search term you type in checks against the HIT's ID, title, requester name and requester ID. Try copying and pasting the entire HIT ID f

[2018-08-18 16:50] ulisesguerrero opened #48 "Possible to autocapture while searching"
Hello,

I like the concept of watchers, but have you ever considered using auto-catch or auto-collect within the same seach window (instead of adding watchers)?

Something like this:
1) Search for whatever conditions of reward, To rating, keywords, etc
2) Continuously autocollect top 10 jobs based the search results (no need to add to watchers)
3) Worker simply works and returns jobs he can't exec

[2018-08-18 16:58] Sirensatdawn commented on #48
I agree and have seen a similar script being used where the watcher would auto catch hits based on TO reviews and based of reward amount of the hit.

[2018-08-19 18:09] ulisesguerrero commented on #48
Siresatdawn, I have not seen any script that does that, I'm curious, what is the name?

[2018-08-24 18:53] jack1555 opened #49 "directions"
# Issue summary
I don't understand how to use mturk engine.  the main page doesn't show new hits that i have seen on hit forker or in forums that post new hits.  the hits just disappear quickly before you can even see them, and then no logged hits, so you don't know what hits came out or didn't come out.  you have to scroll and scroll up and down a very long time just to see what is on the front p

[2018-11-23 06:49] KevinMathew2012 opened #50 "HIT searching option is automatically stopped during more HITs to work"
Hi,

Need your help to resolve HIT searching issues.. The HIT searching option is automatically stopped during more HITs to work and Getting error message repeatedly “ Your search returned no result. Make sure you’re logged in and check you search setting.  please login MTurk.

Even I fixed search setting (3 Seconds in Time between searches) & Minimum Rewards $0.4.

I was observed when I opened Mt

[2018-11-26 06:42] KevinMathew2012 commented on #50
Hey, Awaiting your suggestions to go forward.. Please response & Thanks...

[2018-12-27 22:45] xuxoide commented on #48
Would like to see this feature. I work on P9R transcription hits and I have to accept each hit individually. I think each hit have some unique ID so the watcher option wont work for me. I need this script to search and add accept the hits automatically. Thanks!!

[2019-02-06 14:20] KevinMathew2012 commented on #50
Hi,

Need your help to resolve HIT searching issues.. The HIT searching option is automatically stopped during more HITs to work and Getting error message repeatedly “ Your search returned no result. Make sure you’re logged in and check you search setting. please login MTurk.

Even I fixed search setting (3 Seconds in Time between searches) & Minimum Rewards $0.4.

I was observed when I opened Mtu

[2019-02-08 05:59] cjmccormick opened #51 "Unable to return hit"
# Issue summary

Unable to return hit that is in the queue. I have to go back to mturk page and return.

## Expected behavior

When clicking on return, hit should return, not give error message, that it can't be returned and to refresh page because it could be already gone. Which it wasn't.

## Actual behavior

When clicking return button on the hit that I want to be returned, I get an error "HIT

[2019-02-08 07:39] cjmccormick opened #52 "Feature Request: Ability to add requester to watch list"
# Suggestion

Would love to see an option to add just a requester to watcher folder instead of the actual hit. Would be able to find hits by watchers I already have on another script.

## Specifications

* Mturk Engine version: 183
* Browser: Google

[2019-02-11 18:54] cjmccormick opened #53 "Feature SuggestionL: Ability to add custom notification sound"
Would love to see a custom option to be able to change notification/alert sound.

[2019-03-09 16:26] TRLOJason opened #54 "Feature Request: Reorderable Folders and watchers."
Is it possible to allow us to drag and drop the items in our watcher folders and the folders themselves?

[2019-04-06 09:48] TRLOJason commented on #8
I'm having this issue with version 1.8.3 in FF or Chrome, both have the same issue. The arrow icons to move between pages show a red circle with a line through them on mouseover.

[2019-05-01 16:48] DR225 opened #55 "Crashing very often"
This is the error message that I receive:

TypeError: Cannot convert undefined or null to object

I think the crashes happen shortly after I watch for hits. In a typical three hour session, it will crash like ten times, making it nearly unusable as it lessens my chances of catching those valuable hits that I'm watching for. The crashes started happening two days ago. Thanks for your time.

[2019-05-06 20:29] LaDeDaa opened #56 "Keeps crashing"
This is the error I get every time I run it:

TypeError: Cannot convert undefined or null to object

[2019-05-20 03:56] Anveio commented on #56
Hey @LaDeDaa thanks for reporting this. I've looked into this extensively and it looks like it only happens when using the latest Chrome and the latest version of Tampermonkey. It may be that an update to Tampermonkey or Chrome that's caused this to start happening, although I'm still investigating possible workarounds (I'm open to any suggestions if anyone knows more).

In the meantime, it looks

[2019-05-20 03:56] Anveio commented on #55
Hey @DR225 thanks for reporting this. I've looked into this extensively and it looks like it only happens when using the latest Chrome and the latest version of Tampermonkey. It may be that an update to Tampermonkey or Chrome that's caused this to start happening, although I'm still investigating possible workarounds (I'm open to any suggestions if anyone knows more).

In the meantime, it looks li

[2019-05-20 03:58] Anveio commented on #54
Thanks for this suggestion @TRLOJason I'd love to implement drag and drop one day, but in the meantime you can change the folder a watcher belongs to using the dropdown under "Assigned Folder" in a watcher's settings.

[2019-08-18 23:50] Omniphantasm opened #57 "Went to bed with Engine working fine, woke up to it not."
No idea what happened during the night but I can't refresh my accepted hits or connect an account because it's convinced I'm not logged in suddenly.

Screenshot here https://i.imgur.com/W1NMC1J.jpg

Tried it on Chrome and then even tried it on Firefox which has never had mTurk Engine on it because I thought maybe the user configs might have gotten corrupted or something.

Possible that Amazon went

[2019-08-19 17:51] #57 closed, assigned to nobody

[2019-09-02 21:36] suzywan72 opened #58 "failed to add to queue"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2019-09-02 21:40] suzywan72 commented on #58
![image](https://user-images.githubusercontent.com/30645467/64134071-cf710080-cda8-11e9-8dd9-794aaeaed1d4.png)

[2019-10-01 15:40] mikmik111 opened #59 "audio notifications not working anymore"
# Issue summary

Since yesterday, Audio for finding a new hit is not working, although everything else seems to be working properly.

## Expected behavior

When Search finds a new hit, an audio will play.

## Actual behavior

Search finds a new hit but there's no audio notification, even though it's globally enabled.

## Steps to Reproduce the Problem

1. Click Start Searching
2. Search finds a hi

[2019-10-02 13:46] mikmik111 commented on #59
I found out what the issue was, I don't know if it is just me, but the site where the audio was stored, (kiwi6.com) doesn't work and has issues downloading the audio file.

[2019-10-03 02:49] Anveio commented on #59
Thanks for reporting this issue @mikmik111 I'll look into a fix and release a version of the app with a fix soon.

[2019-10-03 15:48] mikmik111 commented on #59
thanks for your hard work on this!

[2019-10-08 07:10] shamshattar opened #60 "Mturk engine Audio sound is not working, since 1 week ago, please solve the issue"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2019-10-18 16:34] shamshattar opened #61 "Audio is not working please we are in very trouble please sort out the issues"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2019-10-19 17:20] #58 closed, assigned to nobody

[2019-10-19 17:21] suzywan72 commented on #58
i have no idea wth im doing on here most of the time anyways so imma just be quiet, whatever issue i had worked itself out so it seems lol

[2019-11-01 05:10] Anveio commented on #60
Sorry it took so long to get around to this @shamshattar but the problem should be fixed now. It was an issue with the platform that hosts the sound files. Closing for now, let me know if the issue reoccurs.

[2019-11-01 05:10] #60 closed, assigned to nobody

[2019-11-01 05:11] Anveio commented on #61
Resolved, fortunately. See https://github.com/Anveio/mturk-engine/issues/60

[2019-11-01 05:11] #61 closed, assigned to nobody

[2019-11-01 05:11] Anveio commented on #59
Should be resolved!

[2019-11-01 05:11] #59 closed, assigned to nobody

[2019-11-01 19:30] shamshattar commented on #61
thanks Anveio/mturk-engine

On Fri, Nov 1, 2019 at 10:41 AM Shovon Hasan <notifications@github.com>
wrote:

[2020-01-31 19:47] Rainingcatsnstuff opened #62 "Mturk Engine not loading"
For the past few days Mturk Engine hasn't been loading. The usual link just takes me to Mturk rather than the Mturk Engine console. I tried reinstalling, but nothing happens. No Error messages or anything. Is there a fix?

Version 1.8.3
Browser: Chrome

[2020-02-04 00:24] Rainingcatsnstuff commented on #62
Still not working, on two different computers, both chrome and firefox.

[2020-02-14 02:46] TJet19 commented on #42
Hi Anveio -- New Turker here since Oct 5. I love MTurk Engine and have been using it in Firefox since mid-November. Today I had an issue with a bloated FF, so I made some changes in my cache and cookies settings. (Big goof!!) Now I can only access the last 45 days in MTE -- wah! -- so all the cute little boxes representing all my hard work from 10/05/19 are gone. Miss them terribly. Do you have an

[2020-04-01 11:43] amywolk opened #63 "How do you clear out your Earnings summary? Its so wrong and I dont know why. lol"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-06-20 15:05] GousMulla opened #64 "sound is not working since 3 days, please sort out the issue"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-06-21 11:03] GousMulla opened #65 "sound not working"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-06-29 14:25] GousMulla opened #66 "Sound of new hit is not working, please sort out the problem"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-08-31 06:33] GousMulla opened #67 "Sound is not working"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-09-04 15:34] jasmine-mulla opened #68 "Hello Sir, I am facing sound issue please resolve it."
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-09-04 15:35] GousMulla opened #69 "Voice is not working in mturk Engine"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2020-10-16 05:33] kamarabbas99 commented on #62
try this link
https://worker.mturk.com/?mturkengine

[2021-09-21 15:03] mocat15 opened #70 "Turk Opticon ratings not working"
# Issue summary

The T.O. ratings are not showing up in the list of hits. Instead of being color coded, they are showing grey with a value of "No T.O.."  It was working fine yesterday.

[2021-09-23 09:15] dualdooter commented on #70
Same here, tested logged in to turkopticon and have tried on Ubuntu and Win 8.1 to make sure I didn't have a compatibility problem somehow. I tried on both Chromium and Microsoft Edge, meant to mention.

[2021-10-01 00:13] mocat15 commented on #70
The issue is that the TurkOpticon links are outdated.  They moved the data to Turkopticion.net and off of the USCD site.

[2021-11-21 05:45] shamshattar opened #72 "Sound is not working since 10 days please solve the issue"

[2021-11-23 16:12] shamshattar opened #73 "There is a problem in sound please sort out the issue"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2021-11-24 14:35] shamshattar opened #74 "NO SOUND PLEASE SORT OUT THE ISSUE"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2021-11-30 06:20] shamshattar opened #76 "please solve the sound issue, since 1 month I am facing sound issue please resolve it"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2021-12-07 18:34] shamshattar opened #77 "Sound is not working, please sort out the issue"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2021-12-07 18:42] jasmine-mulla opened #78 "A couple of month I am facing sound problem, look out the issue thanks"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2021-12-22 17:37] josh1417882 opened #79 "Mturk engine"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2022-01-10 15:49] shamshattar opened #80 "Voice is not working in mturk engine please resolve it"
# Issue summary

Thanks for submitting an issue to Mturk Engine. Use this space to provide a high-level summary of the problem or feature request:

## Expected behavior

When the problem occurs, what do you think should have happened? If the issue is a feature request, what would you like to see?

## Actual behavior

What actually happened? Include any error messages you see in the console when th

[2022-02-14 16:44] #79 closed, assigned to nobody